ion-content {
    --ion-background-color: #ffffff;
    --ion-background-color-rgb: 236, 235, 238;
}
h2 {
    background-color: #015670;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 25px;
    padding: 20px 26px;
    margin-bottom: 30px;
}
h3 {
    color: #015670;
    font-size: 25px;
    margin-bottom: 30px;
}
.container {
    margin-left: auto !important;
    margin-right: auto !important;
    background: #eeeef1;
    max-width: 99% !important;
    padding-bottom: 50px;
    border-radius: 10px;
    height: 100%;
}
.section_attach {
    margin-top: 30px !important;
    align-self: center !important;
    text-align: center !important;
    background: #015670;
    //border-radius: 30px !important;
    //padding: 20px 0px !important;
    width: 210px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
}
.images {
    height: auto;
}
.boton1 {
    margin-left: auto !important;
    margin-right: auto !important;
    --background: #015670 !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    width: 64% !important;
    --border-radius: 8px !important;
}
.adj-foto {
    font-size: 21px !important;
    color: #ffffff !important;
    line-height: 25px !important;
    margin: 5px 0px !important;
    font-weight: bold;
    padding-top: 20px;
}
.form-group {
    margin-bottom: 1rem;
    display: block;
}
.grey {
    color: #000000 !important;
    font-size: 15px;
}
ion-input {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    color: #040404;
    background-color: #cdcdcd;
    background-clip: padding-box;
    margin-top: 10px;
}
ion-select,
ion-datetime {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    color: #040404;
    background-color: #cdcdcd;
    background-clip: padding-box;
    margin-top: 10px;
    padding-left: 6px;
}
.row-form {
    margin-top: 10px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
.foto_user{
    width: 210px;
    height: 280px;
}
@media (min-width: 600px) and (min-height: 850px) {
    .foto_user{
        width: 300px;
        height: 400px;
    }
    .row-form {
        margin-top: 60px;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }
    h2 {
        background-color: #015670;
        -webkit-border-radius: 20px 20px 0 0;
        -moz-border-radius: 20px 20px 0 0;
        border-radius: 20px 20px 0 0;
        color: #fff;
        font-size: 45px;
        padding: 20px 26px;
        margin-bottom: 30px;
    }
    h3 {
        color: #015670;
        font-size: 45px;
        margin-bottom: 30px;
    }
    .container {
        margin-left: auto !important;
        margin-right: auto !important;
        background: #eeeef1;
        max-width: 99% !important;
        padding-bottom: 50px;
        border-radius: 10px;
        height: 100%;
    }
    .boton1 {
        margin-left: auto !important;
        margin-right: auto !important;
        --background: #015670 !important;
        font-weight: 600 !important;
        font-size: 32px !important;
        width: 75% !important;
        --border-radius: 8px !important;
        height: 70px;
        margin-top: 70px;
    }
    .section_attach {
        margin-top: 30px !important;
        align-self: center !important;
        text-align: center !important;
        background: #015670;
        //border-radius: 30px !important;
        //padding: 30px 0px !important;
        width: 300px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .images {
        height: auto;
    }
    .adj-foto {
        font-size: 35px !important;
        color: #ffffff !important;
        line-height: 25px !important;
        margin: 5px 0px !important;
        font-weight: bold;
        padding-top: 20px;
    }
    .form-group {
        margin-bottom: 1rem;
        display: block;
    }
    .grey {
        color: #000000 !important;
        font-size: 27px;
    }
    ion-input,
    ion-select,
    ion-datetime {
        border: 1px solid #000000;
        border-radius: 5px;
        width: 100%;
        font-size: 30px;
        font-weight: 700;
        color: #040404;
        background-color: #cdcdcd;
        background-clip: padding-box;
        padding-left: 5px !important;
        margin-top: 10px;
    }
}
