ion-content {
  --ion-background-color:#383672;
  --ion-background-color-rgb: 38, 35, 74;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
  font-style: italic;
}

ion-input,
ion-select {
  border: 1px solid #d0cfcf;
  border-radius: 16px;
  --ion-background-color: #fff;
  background-color: #fff;
  color: #000;
  margin: 5px 0;
  padding: 0px 10px !important;
  width: 100%;
  height: 52;
}

.input1 {
  border: 1.7px solid #ff0000;
  border-radius: 16px;
  --ion-background-color: #fff;
  background-color: #fff;
  color: #000;
  margin: 5px 0;
  padding: 0px 10px !important;
  width: 100%;
  height: 52;
}
.select1 {
  border: 1.7px solid #ff0000;
  border-radius: 16px;
  --ion-background-color: #fff;
  background-color: #fff;
  color: #000;
  margin: 5px 0;
  padding: 10px !important;
  width: 100%;
  height: 52;
}

ion-select {
  padding: 10px !important;
}

ion-select-option {
  padding: 10px;
}
.error-message{
  color: red;
  font-size: 15px;
  font-weight: bold;
}
ion-item {
  --padding-start: 0px;
  --inner-padding-end: 0px !important;
  --inner-padding-start: 0px !important;
  margin: 0 16px;
  --ion-item-background: #4C529A !important;
  border: 1px solid #4C529A;
}

ion-button {
  transform: opacity 400ms ease;
}

.item-native {
  background: #4C529A !important;
}

.boton-register {
  margin-top: 10% !important;
  --border-radius: 0px !important;
  --background: #69B054 !important;
  --background-activated: #98C756 !important;
  --background-focused: #56C760 !important;
  --background-hover: #69B054 !important;
  --pading-start: 0px;
  --pading-end: 0px;
  margin: 0px 0px;
  --background-color: #69B054 !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 29px;
  width: 100%;
  height: 1.8em;
  --border-border-radius: 0px !important;
}

.container {
  margin-left: auto !important;
  margin-right: auto !important;
  background: #4C529A;
  --ion-background-color: #4C529A;
  border-radius: 20px;
  box-shadow: 3px 3px 20px 0.5px rgba(0, 0, 0, 0.5);
  padding: 0px;
  --padding: 0px;
}

// Formulario de los datos y button de registro
.form-user-data {
  overflow: hidden;
  border-radius: 20px;
  background-color: #4C529A;
}

// svg de la cabecera del formulario
.svg-header-form {
  margin-top: -10px;
}

// SVG Logo de Ecopetrol
.svg-ecopetrol {
  font-size: 256px;
}

// header
.header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

// logout
.logout {
  margin-top: 10px;
  margin-right: 10px;
  background-color:  #383672;
  color: white;
  font-size: 18px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.spinner {
  align-self: center;
  border: 10px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  border-left-color: white;

  animation: spin 1s linear infinite;
}

.spinner-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 330px) and (max-width: 350px) {
  .grey {
    color: #000000 !important;
    font-size: 14px;
  }
}
@media (min-width: 600px) and (min-height: 850px) {

    h2 {
      font-size: 40px;
      text-align: center;
      margin-bottom: 5px;
      color: white;
      font-weight: bold;
      font-style: italic;
    }

  ion-item {
    margin: 0 50px;
  }

  ion-input,
  ion-select {
    margin: 16px 0;
    padding: 10px 10px;
    font-size: 30px !important;
  }

  .boton-register {
    margin-top: 10% !important;
    height: 2em;
    font-size: 40px !important;
  }

  .logout {
    font-size: 30px;
  }
}
