<ion-content mode="ios">
  <ion-grid>
    <ion-row *ngIf="documentTypes.length > 0">
      <ion-col size="12">
        <button (click)="logOut()" class="logout">Salir</button>
        <div class="header" #headerLogin>
          <ion-icon src="assets/svg/logoEcopetrolLight.svg" [ngStyle]="{ 'height.px': styleSvgs.heightLogo, 'width.px': styleSvgs.widthLogo }" class="svg-ecopetrol"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="11" class="container" #containerLogin>
        <ion-icon src="assets/svg/loginHeader.svg" class="svg-header-form" [ngStyle]="{ 'height.px': styleSvgs.heightHeader, 'width.px': styleSvgs.widthHeader }"></ion-icon>
        <form [formGroup]="datasForm" class="form-user-data">
          <ion-item lines="none">
            <ion-input formControlName="FirstName" placeholder="Nombre:" [(ngModel)]="userData.FirstName" type="text">
            </ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input formControlName="LastName" placeholder="Apellido:" [(ngModel)]="userData.LastName" type="text">
            </ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-select placeholder="Tipo de documento" formControlName="tipo_documento"
              interface="popover" [(ngModel)]="userData.tipo_documento">
              <ion-select-option *ngFor="let type of documentTypes">{{type.data.code}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-input formControlName="documento" placeholder="Número de documento:" [(ngModel)]="userData.documento" type="number">
            </ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input formControlName="badgeId" placeholder="Número de carné de Ecopetrol:" [(ngModel)]="userData.badgeId" type="number"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-select placeholder="Empresa" formControlName="empresa"
              interface="popover" [(ngModel)]="userData.empresa">
              <ion-select-option *ngFor="let empresa of empresasArr" [value]="empresa.codigo">{{empresa.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-select placeholder="Regional" formControlName="regional"
              interface="popover" [(ngModel)]="userData.regional" (ionChange)="EventRegional($event)">
              <ion-select-option *ngFor="let region of regionalesArr" [value]="region.codigo">{{region.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-select placeholder="Instalación" formControlName="instalacion"
              interface="popover" [(ngModel)]="userData.instalacion" [disabled]="instalacionShow === false">
              <ion-select-option *ngFor="let instalacion of instalacionesArr" [value]="instalacion.codigo">{{instalacion.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button expand="block" [disabled]="!datasForm.valid" class="boton-register" (click)="sendUser()">Registrar
          </ion-button>
        </form>
      </ion-col>
      <ion-col size="12">
      </ion-col>
    </ion-row>
    <ion-row *ngIf="documentTypes.length === 0" class="spinner-container" [ngStyle]="{ 'height.px': styleSvgs.windowH, 'width.px': styleSvgs.windowW }">
      <div class="spinner" [ngStyle]="{ 'height.px': styleSvgs.hL, 'width.px': styleSvgs.wL }"></div>
    </ion-row>
  </ion-grid>
</ion-content>
