<ion-header >
  
</ion-header>

<ion-content>
  <div class="container">
    <div class="div1">
      <h2><ion-icon name="newspaper-outline"></ion-icon>
        Captura de Datos</h2>
    </div>
    <!--<div class="section_attach">
      <ion-button fill="clear" class="images" (click)="takePhoto()">
        <img src="../../assets/images/avatar-profile.png" width="35%">
      </ion-button>
      <!--<ion-avatar><img [src]="base64Image"></ion-avatar>
      <p class="adj-foto">Tomar fotografía</p>
    </div>-->
    
    <form [formGroup]="datasForm">
      <ion-row class="row-form">
        <ion-col size="12">
          <div class="form-group">
            <ion-label class="grey">Nombres</ion-label>
            <ion-input class="form-control" formControlName="nombres" [(ngModel)]="userData.nombre" type="text"></ion-input>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="form-group">
            <ion-label class="grey">Apellidos</ion-label>
            <ion-input class="form-control" formControlName="apellidos" [(ngModel)]="userData.apellido" type="text"></ion-input>
          </div>
        </ion-col>
        <ion-col size="5">
          <div class="form-group">
            <ion-label class="grey">Tipo de Documento</ion-label>
            <ion-select placeholder="Tipo de documento" formControlName="documento" class="form-control" mode="ios" interface="popover" [(ngModel)]="userData.documento" >
              <ion-select-option *ngFor="let type of documentType">{{type}}</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
        <ion-col size="7">
          <div class="form-group">
            <ion-label class="grey">Numero de Documento</ion-label>
            <ion-input class="form-control" formControlName="numeroDoc" [(ngModel)]="userData.numeroDoc" type="number"></ion-input>
          </div>
        </ion-col>
        <!--
        <ion-col size="12">
          <h1>Metadatos</h1>
        </ion-col>
        <ion-col size="6">
          <div class="form-group">
            <ion-label class="grey">Version de texto</ion-label>
            <ion-input class="form-control"></ion-input>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="form-group">
            <ion-label class="grey">Fecha de Autorización</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Seleccionar Fecha"></ion-datetime>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="form-group">
            <ion-label class="grey">Lugar</ion-label>
            <ion-input class="form-control"></ion-input>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="form-group">
            <ion-label class="grey">Usuario</ion-label>
            <ion-input class="form-control"></ion-input>
          </div>
        </ion-col>-->
      </ion-row>
      <!--<ion-button expand="block" (click)="uploadImage()" class="boton1">Registrar</ion-button>-->
      <ion-button expand="block" [disabled]="!datasForm.valid" class="boton1" (click)="sendUser()">Registrar</ion-button>
    </form>
  </div>
  <ion-row>
    <ion-col size="12"> 
      <ion-card *ngFor="let user of usersT" >
        <img [src]="user.foto" width="35%" *ngIf="user.foto !== ''">
        <p *ngIf="user.foto === ''">No hay foto</p>
        <h3>Nombre: {{ user.nombre }}</h3>
        <p>Apellido: {{ user.apellido }}</p>
        <p>Documento: {{ user.documento }}</p>
        <p>Número Documento: {{ user.numeroDoc }}</p>
        <p>Número de carnet: {{ user.carnet }}</p>
        <P>Términos: {{ user.terminos }}</P>
        <p></p>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>