ion-content {
  --ion-background-color:#383672;
  --ion-background-color-rgb: 38, 35, 74;
}
h2 {
  background-color: #015670;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 25px;
  padding: 20px 20px;
  margin-bottom: 30px;
}
.div1 {
  margin-top: -17px;
}
.boton-register {
  margin-top: 10% !important;
  --border-radius: 0px !important;
  --background: #69B054 !important;
  --background-activated: #98C756 !important;
  --background-focused: #56C760 !important;
  --background-hover: #69B054 !important;
  --pading-start: 0px;
  --pading-end: 0px;
  margin: 0px 0px;
  --background-color: #69B054 !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 29px;
  width: 100%;
  height: 1.8em;
  --border-border-radius: 0px !important;
}
.container {
  margin-left: auto !important;
  margin-right: auto !important;
  background: #4C529A;
  --ion-background-color: #4C529A;
  max-width: 80% !important;
  border-radius: 20px;
  box-shadow: 3px 3px 20px 0.5px rgba(0, 0, 0, 0.5);
}
// Formulario de los datos y button de registro
.form-user-data {
  overflow: hidden;
  border-radius: 20px;
}
.section_attach {
  margin-top: 30px !important;
  align-self: center !important;
  text-align: center !important;
  background: #015670;
  border-radius: 30px !important;
  padding: 20px 0px !important;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.images {
  height: auto;
}
.adj-foto {
  font-size: 21px !important;
  color: #ffffff !important;
  line-height: 25px !important;
  margin: 5px 0px !important;
  font-weight: bold;
  padding-top: 20px;
}
.form-group {
  margin-bottom: 1rem;
  display: block;
}
.grey {
  color: #000000 !important;
  font-size: 15px;
}
ion-input,
ion-select,
ion-datetime {
  border: 1px solid #d0cfcf;
  border-radius: 16px;
  padding-left: 10px !important;
  --ion-background-color: #fff;
  background-color: #fff;
}
.row-form {
  margin-top: 10px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

// svg de la cabecera del formulario
.svg-header-form {
  margin-top: -10px;
}

// SVG Logo de Ecopetrol
.svg-ecopetrol {
  font-size: 256px;
}

// header
.header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

// logout
.logout {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color:  #383672;
  color: red;
  font-size: 18px;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

@media (min-width: 330px) and (max-width: 350px) {
  .grey {
    color: #000000 !important;
    font-size: 14px;
  }
}
@media (min-width: 600px) and (min-height: 850px) {
  h2 {
    background-color: #015670;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 45px;
    padding: 20px 26px;
    margin-bottom: 30px;
  }
  .section_attach {
    margin-top: 30px !important;
    align-self: center !important;
    text-align: center !important;
    background: #015670;
    border-radius: 30px !important;
    padding: 30px 0px !important;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .images {
    height: auto;
  }
  .adj-foto {
    font-size: 35px !important;
    color: #ffffff !important;
    line-height: 25px !important;
    margin: 5px 0px !important;
    font-weight: bold;
    padding-top: 20px;
  }
  .form-group {
    margin-bottom: 1rem;
    display: block;
  }
  .grey {
    color: #000000 !important;
    font-size: 27px;
  }
  ion-input,
  ion-select,
  ion-datetime {
    border: 1px solid #d0cfcf;
    border-radius: 16px;
    padding-left: 10px !important;
    --ion-background-color: #fff;
    background-color: #fff;
  }
  .row-form {
    margin-top: 80px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
}
