<ion-content mode="ios">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="header" #headerLogin>
          <ion-icon src="assets/svg/logoEcopetrolLight.svg" [ngStyle]="{ 'height.px': styleSvgs.heightLogo, 'width.px': styleSvgs.widthLogo }" class="svg-ecopetrol"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="11" id="container" #containerLogin>
        <ion-icon src="assets/svg/loginHeader.svg" class="svg-header-form" [ngStyle]="{ 'height.px': styleSvgs.heightHeader, 'width.px': styleSvgs.widthHeader }"></ion-icon>
        <form #form="ngForm" novalidate class="form-login">
          <ion-item lines="none">
            <ion-input type="email" name="email" [(ngModel)]="credenciales.client_id" placeholder="Usuario"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input type="password" name="password" [(ngModel)]="credenciales.client_secret" placeholder="Contraseña"></ion-input>
          </ion-item>
          <ion-button class="btn-continue" expand="block" (click)="login()">INGRESAR</ion-button>
        </form>
      </ion-col>
      <ion-col size="12">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

