ion-content {
    --ion-background-color:#397b94;
    --ion-background-color-rgb: 0, 155, 215;
}
h2{
    background-color: #015670;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 29px;
    padding: 20px 26px;
    margin-bottom: 30px;
}

#container {
    margin-left: auto !important;
    margin-right: auto !important;
    background: white;
    --ion-background-color: #fff;
    max-width: 85% !important;
    padding-bottom: 50px;
    margin-top: 30%;
    border-radius: 35px;
}
ion-item {
    --padding-start: 0px;
    --border-style: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

ion-label {
    --color: #b4b4b4 !important;
}

ion-input {
    border: 1px solid #d0cfcf;
    border-radius: 16px;
    padding-left: 10px !important;
}

.btn-continue {
    margin-top: 10% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    --background: #015670 !important;
    font-weight: bold;
    letter-spacing: 0.5px;
    width: 50%;
    --border-radius: 16px !important;
}

p {
    font-weight: bold;
    color: #7e7e7e;
}
a {
    margin-top: 3%;
    font-size: 14px;
    color: #b4b4b4;
}

// SVG Logo de Ecopetrol
.svg-ecopetrol {
  font-size: 64px;
}

@media (min-width: 600px) and (min-height: 950px){
    #container {
        margin-left: auto !important;
        margin-right: auto !important;
        background: white;
        --ion-background-color: #fff;
        max-width: 85% !important;
        padding-bottom: 50px;
        margin-top: 30%;
        border-radius: 35px;
        height: 450px !important;
    }
    p {
        font-weight: bold;
        color: #5f5f5f;
        font-size: 45px;
        text-align: center;
        margin-bottom: 10px;
    }
    ion-icon{
        font-size: 50px;
        margin-right: 30px;
        margin-top: 2px;
        margin-bottom: auto;
    }
    h2{
        background-color: #015670;
            -webkit-border-radius: 20px 20px 0 0;
            -moz-border-radius: 20px 20px 0 0;
            border-radius: 20px 20px 0 0;
            color: #fff;
            font-size: 45px;
            padding: 20px 26px;
            margin-bottom: 30px;
        }
    .label {
        --color: #b4b4b4 !important;
        font-size: 35px;
    }
    ion-input{
        border: 3px solid #d0cfcf;
        border-radius: 16px;
        padding-left: 10px !important;
        margin-top: 12px;
        min-height: 60px !important;
        font-size: 25px;
    }
    .btn-continue {
        margin-top: 5% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        --background: #015670 !important;
        font-weight: bold;
        letter-spacing: 0.5px;
        width: 55%;
        --border-radius: 16px !important;
        font-size: 32px;
        height: 80px;
    }
    a {
        margin-top: 3%;
        font-size: 25px;
        color: #b4b4b4;
    }
}
