.ios body {
  --ion-item-background: white;
  --ion-card-background: white;
  --ion-background-color: white;
  --ion-text-color: black;
}

h1 {
  font-size: 39px;
  text-align: center;
}

ion-content {
  --ion-background-color:#383672;
  --ion-background-color-rgb: 38, 35, 74;
}

ion-input {
  border: 1px solid #d0cfcf;
  border-radius: 16px;
  --ion-background-color: #fff;
  background-color: #fff;
  color: #000;
  margin: 5px 0;
  padding: 0px 10px !important;
}

ion-item {
  --padding-start: 0px;
  --inner-padding-end: 0px;
  margin: 0 16px;
  --ion-item-background: #4C529A !important;
}

.item-native {
  background: #4C529A !important;
}

.btn-continue {
  margin-top: 10% !important;
  --border-radius: 0px !important;
  --background: #69B054 !important;
  --background-activated: #98C756 !important;
  --background-focused: #56C760 !important;
  --background-hover: #69B054 !important;
  --pading-start: 0px;
  --pading-end: 0px;
  margin: 0px 0px;
  --background-color: #69B054 !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 29px;
  width: 100%;
  height: 1.8em;
  --border-border-radius: 0px !important;
}

// Formulario del login
.form-login {
  overflow: hidden;
  border-radius: 20px;
  background-color: #4C529A;
}

.svg-header-form {
  margin-top: -10px;
}

// header
.header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

#container {
  margin-left: auto !important;
  margin-right: auto !important;
  background: #4C529A;
  --ion-background-color: #4C529A;
  border-radius: 20px;
  box-shadow: 3px 3px 20px 0.5px rgba(0, 0, 0, 0.5);
  padding: 0px;
  --padding: 0px;
}

@media (min-width: 600px) and (min-height: 850px) {
  h1 {
    font-size: 50px;
  }
  ion-item {
    margin: 0 50px;
  }
  ion-input {
    margin: 16px 0;
    padding: 10px 10px;
    font-size: 30px !important;
  }
  .btn-continue {
    margin-top: 10% !important;
    height: 2em;
    font-size: 40px !important;
  }
}
