<ion-header class="ion-no-border" mode="ios">
  <div class="div-header">
    <ion-toolbar class="header-styles">
      <h1>Uso responsable de las herramientas</h1>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <form [formGroup]="herramientasForm">
<ion-row>
  <ion-col size="12">
    <div class="pannel" style="font-size: 100%;">
      <p class="paragrafo">
        5. {{pregunta}}
        <br>
        <br>
        {{texto}}</p>
      <h2>V {{version}}</h2>
      <!--<p class="grabacion">Grabando</p>
      <ion-row class="row_buttons">
        <ion-col size="6"><ion-button class="boton1"><ion-icon name="mic-outline"></ion-icon>Grabar</ion-button></ion-col>
        <ion-col size="6" class="col2"><ion-button class="boton2"><ion-icon name="stop-circle-outline"></ion-icon>Detener</ion-button></ion-col>
      </ion-row>
    -->
    <ion-radio-group [(ngModel)]="herramientas" formControlName="herramientas">
      <ion-item lines="none">
        <ion-label class="term">Si acepto</ion-label>
        <ion-radio slot="start" value="true" mode="md"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="term">No acepto</ion-label>
        <ion-radio slot="start" value="false" mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>
      <ion-button (click)="Formulario()" expand="block" class="boton1" [disabled]="!herramientasForm.valid">Siguiente</ion-button> 
    </div>
  </ion-col>
</ion-row>
</form>
</ion-content>
