<ion-header class="ion-no-border" mode="ios">
  <div class="div-header">
    <ion-toolbar class="header-styles">
      <h1>Tratamiento datos personales</h1>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="logOut()">LogOut</ion-button>
<ion-row>
  <ion-col size="12">
    <div class="pannel" style="font-size: 100%;">
      <p class="paragrafo">
        6. ¿Usted autoriza el tratamiento de sus datos personales?
        <br>
        <br>
6.1. Ecopetrol actuará como responsable del tratamiento de sus datos y actuará en el marco de su Declaración de Tratamiento de la Información Personal, la cual está disponible acá.
<br>
<br>
6.2. Las finalidades del tratamiento incluyen las asociadas a identificación personal, control de acceso y circulación dentro de las Instalaciones, análisis epidemiológico y de prevención en salud (incluyendo el tratamiento de información asociada a signos y síntomas de salud), verificación de cumplimiento de las reglas HSE y propósitos asociados al contrato de trabajo. Las finalidades incluyen las descritas en las secciones "Empleados, pensionados y/o beneficiarios" y "Comunidad y sociedad y áreas de influencia", de la referida Declaración de Tratamiento.
<br>
<br>
6.3. El tratamiento efectuado por Ecopetrol incluye la recolección, almacenamiento, uso, consulta, actualización, circulación (transmisión y/o transferencia) y supresión de la información personal. Esto incluye la posibilidad de solicitar a autoridades la transferencia de datos personales sensibles, por ejemplo, la que el Estado recolecte a través de la aplicación Coronapp (que es de responsabilidad exclusiva del Instituto Nacional de Salud y la Agencia Nacional Digital). Igualmente, la posibilidad de transmitir o transferir información a su empleador o autoridades competentes.
<br>
<br>
6.4. Ecopetrol requiere información personal catalogada como sensible de acuerdo con la normativa de salud. Esto puede incluir por ejemplo el género, datos biométricos que permiten determinar su identidad (por ejemplo su rostro, iris y demás), síntomas y signos de salud, datos demográficos, ubicación, geolocalización, factores de riesgo epidemiológico y otros. Tiene el derecho de abstenerse de responder las preguntas sobre datos sensibles. 
<br>
<br>
6.5. Le asisten los derechos consagrados en el artículo 8 de la Ley 1581 de 2012: Conocimiento, actualización y rectificación. Prueba de autorización. Informe de uso. Presentar quejas ante la SIC. Revocar la autorización, salv.
      </p>
      <h2>V 0.1</h2>
      <!--<p class="grabacion">Grabando</p>
      <ion-row class="row_buttons">
        <ion-col size="6"><ion-button class="boton1"><ion-icon name="mic-outline"></ion-icon>Grabar</ion-button></ion-col>
        <ion-col size="6" class="col2"><ion-button class="boton2"><ion-icon name="stop-circle-outline"></ion-icon>Detener</ion-button></ion-col>
      </ion-row>
    -->
    <ion-radio-group [(ngModel)]="terminos" >
      <ion-item lines="none">
        <ion-label class="term">Si</ion-label>
        <ion-radio slot="start" value="Acepta terminos" mode="md"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="term">No</ion-label>
        <ion-radio slot="start" value="No Acepta terminos" mode="md"></ion-radio>
      </ion-item>
    </ion-radio-group>
      <ion-button (click)="Formulario()" expand="block" class="boton1">Aceptar</ion-button> 
    </div>
  </ion-col>
</ion-row>
</ion-content>
