<app-container [styleContent]="stylesContainer" [conditionalContent]="this.userData">
  <div class="content">
    <h2>Captura de datos</h2>
    <ion-item class="options-container" size="11" lines="none" *ngIf="base64_2 === ''">
      <ion-button class="option-button" expand="block" fill="solid" (click)="takePhoto()">
        TOMAR FOTO
      </ion-button>
    </ion-item>
    <ion-item-group lines="none" *ngIf="base64_2 !== ''">
      <ion-item lines="none" class="item-photo-user">
        <button (click)="addUserDetails()" class="button-confirm">
          <ion-icon name="newspaper-sharp"></ion-icon>
        </button>
        <img [src]="base64_2" class="photo_user">
      </ion-item>

      <ion-item lines="none">
        <ion-button class="option-button" fill="solid" [disabled]="base64_2 === ''" (click)="sendUser()">
          SUBIR FOTO
        </ion-button>
      </ion-item>

      <ion-item lines="none">
        <ion-button class="option-button" fill="solid" (click)="takePhoto()">
          REPETIR FOTO
        </ion-button>
      </ion-item>
    </ion-item-group>
  </div>
</app-container>
