h2 {
  background-color: transparent;
  text-align: center;
  font-size: 29px;
  color: white;
}

ion-item {
  background: transparent;
  --background: transparent;
}

ion-icon {
  color: white;
  font-size: 16px;
}

ion-item-group {}

.option-button {
  --border-radius: 20px !important;
  --background: #69B054 !important;
  --background-activated: #98C756 !important;
  --background-focused: #56C760 !important;
  --background-hover: #69B054 !important;
  --background-color: #69B054 !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 20px;
  width: 100%;
  height: 1.5em;
}

.options-container {
}

.form-button {
  background: transparent;
  --background: transparent;
  margin-bottom: 10%;
}

.item-photo-user {}

.content {
  height: 100%;
  margin: 10px;
}

.photo_user {
  margin-top: 10px;
  border-radius: 20px;
  border-style: groove;
  //border-width: 3px;
  //border-color: #383672;
  box-shadow: 3px 3px 2px 0.5px rgba(0, 0, 0, 0.5);
}

.button-confirm {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 999999;
  padding: 10px;
  border-radius: 50%;
  background: #69B054 !important;
}

.icon-confirm {
  font-size: 32px;
  color: white;
}

@media (min-width: 600px) and (min-height: 850px) {
  ion-icon {
    color: white;
    font-size: 32px;
  }

  h2 {
    font-size: 40px;
  }

  .option-button {
    font-size: 30px;
  }
}
