/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    .popover-content {
      width: 82%;
      left: 37.1953px;
    }
    .sc-ion-select-popover-h ion-label.sc-ion-select-popover {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
        color: white;
    }
    .sc-ion-select-popover-h ion-list.sc-ion-select-popover {
      margin-left: -12px;
      margin-right: 0;
      margin-top: -1px;
      margin-bottom: -1px;
      width: 112%;
  }
    @media (min-width: 650px) and (min-height: 850px) {
        .popover-content {
            width: 79%;
            left: 83.594px;
        }
        .sc-ion-select-popover-h ion-label.sc-ion-select-popover {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 34px;
            color: white;
        }
    }

    --ion-color-primary: #383672;
    --ion-background-color-rgb: 38, 35, 74;
    --ion-item-background: #4C529A !important;
}
/*  Estructura de diseño de alertas:  clase de alerta, clase del boton, alert_message para mensaje, alert_title para header  */
/* .alerta1{
    --background: #009bd7 !important;
    --min-width: 80% !important;
    --max-width: 80% !important;     
}
.boton {
  color: white !important;
  background-color: #015670 !important;
  border-radius: 10px !important;
  margin-bottom: 20px !important;
  min-width: 80% !important;
  max-width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.alert-message {
    color: white !important;
   
  }
  .alert-title {
    color: white !important;
    font-size: 15px !important;
  }
  .alertimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
} */

//////////////////////////////////////////// estructura de estilo para el loading controller /////////////////////7

.loading {
    --background: #009bd7 !important;
    --spinner-color: #fff;
    --min-width: 80%;
    --max-width: 80%;
  }
  .loading-content {
    font-weight: bold;
    font-size: 20px;
    color: white;
  }

// usado styles policy-question para el html de las preguntas que llegan
.div-question {
  color: white;
  font-size: 20px !important;
  h1 {
    font-size: 20px !important;
    strong {
      span {
        font-size: 20px !important;
      }
    }
  }

  p {
    font-size: 18px !important;
  }
}

@media (min-width: 600px) and (min-height: 850px) {
  .div-question {
    color: white;
    font-size: 28px !important;
    h1 {
      font-size: 30px !important;
      strong {
        span {
          font-size: 30px !important;
        }
      }
    }

    p {
      font-size: 28px !important;
    }
  }
}
